html, body {
    height: 100%;
  }
body {
    background-image: linear-gradient(to top right,#C9FFBF, #FFAFBD);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0 5% 5% 5%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

#title{
    margin: 10px 0 3% 0;
}
#joke{
    margin: 10px 0 3% 0;
}


footer{
    position: fixed;
    bottom: 10%;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}