body{
    background-color: rgb(60, 72, 107);
    text-align: center;
}
#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

.header{
    margin-bottom: 5%;
}
.squares{
    text-align: center;
    width: 35rem;
    margin: 0 auto;
}
.square{
    display: inline-block;
    margin: 7px;
    height: 10rem;
    width: 10rem;
    background-color: blue;
    border-width: 5px;
    border-width: 3px;
    border: 10px solid;
    border-radius: 15px;

}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.white{
    background-color: white;
}
.blue{
    background-color: blue;
}

.clicked{
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.gameOver{
    background-color: red;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }